/* components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con 70% de opacidad */
  position: fixed; /* Fija la navbar en la parte superior */
  top: 0; /* Posición en la parte superior */
  left: 0; /* Alineación a la izquierda */
  width: 100%; /* Ancho completo */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  transition: background-color 0.3s; /* Transición suave para el fondo */
}

/* Contenedor izquierdo - Redes sociales */
.social-icons-container {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

/* Contenedor central - Logo + Título */
.logo-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.navbar-title {
  font-size: 1.5rem;
  color: white;
}

/* Contenedor derecho - Menú */
.menu-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  cursor: pointer; /* Cambia el cursor al pasar sobre el menú */
}

.social-icons {
  display: flex;
  gap: 10px;
}

.icon {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s;
  padding-left: 5px;
}

.icon:hover {
  color: #ff69b4;
}

.menu-icon {
  display: flex;
  flex-direction: column;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
  position: absolute; /* Posiciona el menú de forma absoluta */
  top: 60px; /* Ajusta según la altura de la navbar */
  right: 20px; /* Alineación a la derecha */
  background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro para el menú */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra sutil */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
  padding: 10px; /* Espaciado interno */
}

.dropdown-menu a {
  display: block; /* Cada enlace ocupa toda la línea */
  color: white; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  padding: 10px; /* Espaciado interno */
  transition: background-color 0.3s; /* Transición suave para el fondo */
}

.dropdown-menu a:hover {
  background-color: rgba(255, 105, 180, 0.5); /* Color de fondo al pasar el mouse */
}